<% provide(:title, "家庭旅馆") %>

<div id="pg-homestays" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="sidebar">
			<ul class="nav-experts">
				<% @cities.each_with_index do |item, index| %>
					<li><a href="#sec-<%= index %>"><%= item.name %></a></li>
				<% end %>
			</ul>
		</div>
		<div class="main">
			<h3 class="main-title">家庭旅馆</h3>
			<div class="experts-intro">
				<%= @homestay_intro.html_safe %>
			</div>
			<% @cities.each_with_index do |city, index| %>
				<div class="section" id="sec-<%= index %>">
					<h5><%= city.name %></h5>
					<ul>
						<% city.homestays.each do |homestay| %>
							<li>
								<a href="<%= homestay_path(homestay) %>">
									<%= image_tag homestay.cover.medium.url, alt: homestay.name %>
									<h6><%= homestay.name %></h6>
									<p class="desc">
										<%= homestay.desc %>
									</p>
								</a>
							</li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
