<% provide(:title, @homestay.name) %>

<div id="pg-homestay" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="sidebar">
			<%= image_tag @homestay.cover.medium.url, alt: @homestay.name %>
			<h5><%= @homestay.name %></h5>
		</div>
		<div class="main">
			<h4>简介</h4>
			<div class="intro">
				<%= @homestay.intro.html_safe %>
			</div>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
