<h3>
	<%= @album.name %>
	<%= link_to "删除所有图片", destroy_photos_admin_album_path(@album), method: "delete", confirm: "确定要删除相册所有的图片" %>
</h3>
<ul class="album-photos-list">
	<% @photos.each do |p| %>
		<li><%= image_tag p.file.pic %><%= p.name %></li>
	<% end %>
</ul>

<div id="uploader"></div>

<%= stylesheet_link_tag "fineuploader-3.3.1" %>
<%= javascript_include_tag "jquery.fineuploader-3.3.1" %>
<script>
	$(function() {
		var uploader = new qq.FineUploader({
			element: $('#uploader')[0],
			maxConnections: 3,
			request: {
				endpoint: '<%= upload_photos_admin_album_path(@album) %>',
				params: {
					'<%= request_forgery_protection_token %>' : '<%= form_authenticity_token %>'
				}
			},
			retry: {
				showButton: true
			}
		});
	});
</script>
