<% provide(:title, @scheme.name) %>

<div id="pg-scheme" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="scheme-detail">
			<%# render "layouts/contact_qqs" %>
			<h3 class="scheme-title"><%= @scheme.name %></h3>
			<div class="scheme-intro">
				<%= @scheme.content.html_safe if @scheme.content %>
			</div>
		</div>

		<% if @scheme.sights.any? %>
		<div class="scheme-sights">
			<h4 class="section-title">线路包含以下景点</h4>
			<ul>
				<% @scheme.sights.each do |s| %>
				<li>
					<a href="<%= sight_path(s) %>" title="<%= s.name %>">
						<%= image_tag s.cover.thumb, width: "150", height: "100" %>
						<p class="name"><%= name_by_lang(s) %></p>
					</a>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
	</div>

	<%= render 'layouts/footer' %>
</div>
