<% provide(:title, '关于我们') %>

<div id="pg-about-us" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<%= Site.all.first.about_us.html_safe %>
	</div>

	<%= render 'layouts/footer' %>
</div>
