<% provide(:title, '旅游包车') %>

<% content_for :scripts do %>
	<%= javascript_include_tag "charter" %>
<% end %>

<div id="pg-charter" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="main">
			<div class="rent">
				<h4 class="section-title">包车信息</h4>
				<div>
					<% if @album.photos.any? %>
					<div id="gallery" class="ad-gallery sight-gallery">
						<div class="ad-image-wrapper">
						</div>
						<div class="ad-controls">
						</div>
						<div class="ad-nav">
							<div class="ad-thumbs">
								<ul class="ad-thumb-list">
									<% @album.photos.each do |p| %>
									<li>
										<a href="<%= p.file.pic %>">
											<%= image_tag p.file.thumb, title: p.name, alt: p.desc %>
										</a>
									</li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>

			<% if @guides.any? %>
				<div class="guides">
					<h4 class="section-title">包车手册</h4>
					<dl>
						<% @guides.each do |g| %>
							<dt id="q-<%= g.id %>">
								<%= link_to g.question, "javascript:;" %>
							</dt>
							<dd>
								<%= g.answer.html_safe %>
							</dd>
						<% end %>
					</dl>
				</div>
			<% end %>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
