<% provide(:title, '联系我们') %>

<div id="pg-contact-us" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<%= Site.all.first.contact_us.html_safe %>
	</div>

	<%= render 'layouts/footer' %>
</div>
