<% provide(:title, '越南美女图库') %>

<% content_for :scripts do %>
	<%= javascript_include_tag "girls" %>
<% end %>

<div id="pg-girls" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<h2>越南美女图库</h2>
		<ul class="wookmark">
			<% @albums.each do |album| %>
				<li>
					<a href="<%= girl_path(album.id) %>">
						<img src="<%= album.photos.first.file.pic %>" alt="" />
						<p class="name"><%= album.name %></p>
						<% if album.desc %>
							<p class="desc"><%= album.desc %></p>
						<% end %>
					</a>
				</li>
			<% end %>
		</ul>

		<%= paginate @albums %>
	</div>

	<%= render 'layouts/footer' %>
</div>
