<% provide(:title, @girl_album.name) %>

<div id="pg-girl" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<h2>越南美女图库 - <%= @girl_album.name %></h2>

		<div class="share">
			分享：
			<%= social_share_button_tag("行在越南相册: #{ @girl_album.name }", image: "http://#{ Yetting.domain }:#{ Yetting.port }#{ @girl_album.photos.first.file.pic_with_watermark }") %>
		</div>

		<ul class="girls">
			<% @girl_album.photos.each do |p| %>
				<li>
					<img src="<%= p.file %>" alt="" />
					<p class="name"><%= p.name %></p>
					<% if p.desc %>
						<p class="desc"><%= p.desc %></p>
					<% end %>
				</li>
			<% end %>
		</ul>

		<div class="share">
			分享：
			<%= social_share_button_tag("行在越南相册: #{ @girl_album.name }", image: "http://#{ Yetting.domain }:#{ Yetting.port }#{ @girl_album.photos.first.file.pic_with_watermark }") %>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
