<% provide(:title, '首页') %>

<% content_for :scripts do %>
	<%# javascript_include_tag "home" %>
<% end %>

<div id="pg-home" class="container">
	<%= render 'layouts/header' %>

	<div class="content" >
		<%= render "layouts/slides" %>

		<% if false %>
			<div class="intro"></div>
		<% end %>

		<div class="main">
			<div class="map">
				<%= image_tag "map.jpg", alt: "越南地图", class: "img-map", width: "338", height: "700" %>
				<% @areas.each_with_index do |area, index| %>
					<%= link_to image_tag(area.cover.pic_thumb, width: "50", height: "50", alt: area.name), area_path(area), class: "map-area area-#{ area.id - 1 }", title: area.name %>
				<% end %>
			</div>

			<div class="recommend">
				<div class="areas">
					<h4 class="section-title">旅游城市</h4>
					<% @areas.each_with_index do |area, index| %>
						<a class="area<%= cycle(" odd", " even") %>" href="<%= area_path(area) %>">
							<%= image_tag area.cover.thumb.url, alt: area.name %>
							<h6><%= name_by_lang(area) %></h6>
							<p><%= area.desc.truncate(18) %></p>
						</a>
					<% end %>
				</div>

				<div class="hot-schemes-wrap">
					<h4 class="section-title">热门线路</h4>
					<div class="hot-schemes">
						<% @hot_schemes.each do |s| %>
							<a class="hot-scheme" href="<%= scheme_path(s) %>">
								<%= image_tag s.cover.thumb.url, alt: s.name %>
								<h6><%= s.name %></h6>
							</a>
						<% end %>
					</div>
				</div>
				<!--
				<div class="handbook">
				</div> -->
			</div>
		</div>

		<% if @guides.any? %>
			<div class="guides">
				<h4 class="section-title">
					旅行手册
					<%= link_to "更多 »", guides_path, class: "more" %>
				</h4>
				<dl>
					<% @guides.each do |g| %>
						<dt id="q-<%= g.id %>">
							<%= link_to g.question, guides_path(anchor: "q-#{ g.id }") %>
						</dt>
						<dd>
						<%= g.answer.truncate(160, omission: "...#{ link_to('查看全文', guides_path(anchor: 'q-' + g.id.to_s), class: 'more')}").html_safe %>
						</dd>
					<% end %>
				</dl>
			</div>
		<% end %>

		<div class="photos">
			<% if @photos.count == 8 %>
			<h4 class="section-title">越南相册</h4>
			<table>
				<tr>
					<% @photos[0...5].each_with_index do |p, index| %>
						<td class="row-0 <%= "col-#{ index }" %>"<%= " rowspan=2" if index == 2 %>>
							<a href="<%= photo_path(p) %>">
								<%= image_tag index == 2 ? p.file.pic : p.file.thumb %>
								<h6><%= p.name %></h6>
							</a>
						</td>
					<% end %>
				</tr>
				<tr>
					<% @photos[5...8].each_with_index do |p, index| %>
						<td class="row-1 <%= "col-#{ index }" %>"<%= " colspan=2" if index == 2 %>>
							<a href="<%= photo_path(p) %>">
								<%= image_tag p.file.thumb %>
								<h6><%= p.name %></h6>
							</a>
						</td>
					<% end %>
				</tr>
			</table>
			<% end %>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
