<% provide(:title, '旅游婚纱') %>

<% content_for :scripts do %>
	<%= javascript_include_tag "jquery.easing.1.3" %>
	<%= javascript_include_tag "jquery.timers-1.2" %>
	<%= javascript_include_tag "jquery.galleryview-3.0-dev" %>
	<%= javascript_include_tag "sights" %>
<% end %>

<div id="pg-wedding" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="sight-detail">
			<%# render "layouts/contact_qqs" %>
			<h3 class="sight-title"><%= @sight.name %></h3>

			<% if @gallery_photos.any? %>
			<div id="gallery" class="sight-gallery">
				<ul>
					<% @gallery_photos.each do |p| %>
					<li>
                      <%= image_tag p.file, title: p.name,
                          data: {
							frame: p.file.thumb.url,
                            description: p.desc
                          }
                      %>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>

			<div class="sight-intro">
				<%= @sight.content.html_safe if @sight.content.html_safe %>
			</div>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
