<% provide(:title, @sight.name) %>

<% content_for :scripts do %>
	<%= javascript_include_tag "sights" %>
<% end %>

<div id="pg-sight" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<ul class="nav-area">
			<% @areas.each do |area| %>
			<li<%= " class=current" if area.eql? @area %>>
				<%= link_to area.name, area.cities.any?? city_path(area.cities.first) : "#" %>
			</li>
			<% end %>
		</ul>

		<div class="around">
			周边城市景点：
			<% @cities.each do |c| %>
				<%= link_to "#{ c.name }", city_path(c), class: ("current" if c.eql? @city) %>
			<% end %>
		</div>

		<div class="sight-detail">
			<%# render "layouts/contact_qqs" %>
			<h3 class="sight-title"><%= @sight.name %>景点介绍</h3>

			<% if @gallery_photos.any? %>
			<div id="gallery" class="ad-gallery sight-gallery">
				<div class="ad-image-wrapper">
				</div>
				<div class="ad-controls">
				</div>
				<div class="ad-nav">
					<div class="ad-thumbs">
						<ul class="ad-thumb-list">
							<% @gallery_photos.each do |p| %>
							<li>
								<a href="<%= p.file.pic %>">
									<%= image_tag p.file.thumb, title: p.name, alt: p.desc %>
								</a>
							</li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<% end %>

			<div class="sight-intro">
				<%= @sight.content.html_safe if @sight.content.html_safe %>
			</div>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
