<% unless @order.status == 4 %>
	<div class="control-group hide" id="reason">
		<label class="control-label" for="cancel-reason">取消原因</label>
		<div class="controls">
			<textarea name="cancel_reason" class="span10" id="cancel-reason" data-validate="required" data-validate-msg="请填写取消订单的原因"></textarea>
		</div>
	</div>
<% end %>
