<div class="conditions">
	<form class="form-search form-inline" action="<%= orders_path %>" method="get">
		<input type="hidden" name="category" value="<%= category %>" />
		<select name="condition_status" class="span2">
			<option value="-1">所有状态</option>
			<% Order::STATUS[1, 6].each_with_index do |name| %>
				<% status = Order::STATUS.index(name) %>
				<option value="<%= status %>"<%= " selected" if status == @status %>><%= name %></option>
			<% end %>
		</select>
		<% if false %>
		<select name="condition_scheme" class="span3">
			<option value="-1">所有线路</option>
			<% Scheme.all.each do |scheme| %>
				<option value="<%= scheme.id %>"<%= " selected" if scheme.id == @scheme_id %>><%= scheme.name %></option>
			<% end %>
		</select>
		<% end %>
		<select name="condition_area" class="span2">
			<option value="-1">所有区域</option>
			<% Area.all.each do |area| %>
				<option value="<%= area.id %>"<%= " selected" if area.id == @area_id %>><%= area.name %></option>
			<% end %>
		</select>
		<div data-behaviour="datepicker" class="input-append date">
			<input name="condition_date" class="span2" placeholder="<%= category == 0 ? "发团时间" : "接机日期" %>" data-format="yyyy-MM-dd" type="text" value="<%= @date %>" />
			<span class="add-on">
				<i class="icon-calendar"></i>
			</span>
		</div>
		<input type="text" name="condition_contact" class="span3" value="<%= @contact %>" placeholder="客户名称或电话" />
		<button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> 搜索</button>
	</form>
</div>
