<% if contact.nil? %>

	<div class="control-group">
		<label class="control-label" for="<%= prefix %>-contact-name">姓名<em>*</em></label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_name" id="<%= prefix %>-contact-name" <%= "data-validate=required data-validate-msg=请填写姓名" if prefix == "first" %> />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">性别<em>*</em></label>
		<div class="controls">
			<label class="radio inline">
				<input type="radio" name="<%= prefix %>_contact_gender" value="1" checked> 先生 
			</label>
			<label class="radio inline">
				<input type="radio" name="<%= prefix %>_contact_gender" value="0"> 女士
			</label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">中国手机<em>*</em></label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_chinese_phone" id="" placeholder="86-13800138000" datat-validate="required;phone" data-validate-msg="请填写中国手机号;请填写一个有效的电话号码" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">越南手机</label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_vietnamese_phone" id="" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">护照号</label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_passport_number" id="" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">QQ号码</label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_qq" id="" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">微信</label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_wechat" id="" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">新浪微博</label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_weibo" id="" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">邮箱</label>
		<div class="controls">
			<input type="email" name="<%= prefix %>_contact_email" id="" data-validate="email" data-validate-msg="邮箱格式不正确" />
		</div>
	</div>

<% else %>

	<div class="control-group">
		<label class="control-label" for="<%= prefix %>-contact-name">姓名<em>*</em></label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_name" id="<%= prefix %>-contact-name" value="<%= contact.name %>" <%= "data-validate=required data-validate-msg=请填写姓名" if prefix == "first" %> />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">性别<em>*</em></label>
		<div class="controls">
			<label class="radio inline">
				<input type="radio" name="<%= prefix %>_contact_gender" value="1"<%= " checked" if contact.gender == 1 or contact.gender.nil? %>> 先生 
			</label>
			<label class="radio inline">
				<input type="radio" name="<%= prefix %>_contact_gender" value="0"<%= " checked" if contact.gender == 0 %>> 女士
			</label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">中国手机<em>*</em></label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_chinese_phone" id="" placeholder="86-13800138000" value="<%= contact.chinese_phone %>" datat-validate="required;phone" data-validate-msg="请填写中国手机号;请填写一个有效的电话号码" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">越南手机</label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_vietnamese_phone" id="" value="<%= contact.vietnamese_phone %>" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">护照号</label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_passport_number" id="" value="<%= contact.passport_number %>" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">QQ号码</label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_qq" id="" value="<%= contact.qq %>" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">微信</label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_wechat" id="" value="<%= contact.wechat %>" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">新浪微博</label>
		<div class="controls">
			<input type="text" name="<%= prefix %>_contact_weibo" id="" value="<%= contact.weibo %>" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="">邮箱</label>
		<div class="controls">
			<input type="email" name="<%= prefix %>_contact_email" id="" value="<%= contact.email %>" data-validate="email" data-validate-msg="邮箱格式不正确" />
		</div>
	</div>

<% end %>
