<% if hotel.nil? %>

	<div class="control-groups">
		<div class="control-group">
			<label class="control-label" for="">酒店名<em>*</em></label>
			<div class="controls">
				<input type="text" name="hotel_name" id="" data-validate="required" data-validate-msg="请填写酒店名" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="">酒店地址<em>*</em></label>
			<div class="controls">
				<input type="text" name="hotel_address" id="" data-validate="required" data-validate-msg="请填写酒店地址" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="">酒店联系电话</label>
			<div class="controls">
				<input type="text" name="hotel_phone" id="" />
			</div>
		</div>
	</div>

<% else %>

	<div class="control-groups">
		<div class="control-group">
			<label class="control-label" for="">酒店名<em>*</em></label>
			<div class="controls">
				<input type="text" name="hotel_name" id="" value="<%= @hotel.name %>" data-validate="required" data-validate-msg="请填写酒店名" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="">酒店地址<em>*</em></label>
			<div class="controls">
				<input type="text" name="hotel_address" id="" value="<%= @hotel.address %>" data-validate="required" data-validate-msg="请填写酒店地址" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="">酒店联系电话</label>
			<div class="controls">
				<input type="text" name="hotel_phone" id="" value="<%= @hotel.phone %>" />
			</div>
		</div>
	</div>

<% end %>
