<% provide(:title, "编辑旅游订单") %>

<% content_for :scripts do %>
	<%= javascript_include_tag "order-new" %>
<% end %>

<form action="<%= update_order_path(@order) %>" method="post" class="form form-edit form-horizontal" data-remote novalidate data-confirm="确定要修改此订单吗?">
	<input type="hidden" name="category" value="0" />
	<h1>旅游订单</h1>

	<fieldset<%= " disabled" if fieldset_disable? %>>
		<legend>参团信息</legend>
		<div class="control-group">
			<label class="control-label" for="scheme">旅行路线</label>
			<div class="controls">
				<select name="scheme" id="scheme" required>
					<% Scheme.all.each do |scheme| %>
						<option value="<%= scheme.id %>"<%= " selected" if scheme.id == @order.scheme.id %>><%= scheme.name %></option>
					<% end %>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="tour-time">旅行日期<em>*</em></label>
			<div class="controls">
				<div data-behaviour="datepicker" class="input-append date">
				<input name="tour_time" id="tour-time" readonly data-format="yyyy-MM-dd" type="text" value="<%= @order.tour_time.to_date.to_s(:db) %>" data-validate="required" data-validate-msg="请填写旅行日期" />
					<span class="add-on">
						<i class="icon-calendar"></i>
					</span>
				</div>
			</div>
		</div>
<% if false %>
	<div class="control-group">
		<label class="control-label" for="tour-members-count">参团人数<em>*</em></label>
		<div class="controls">
			<input type="number" data-origin="<%= @order.tour_members_count %>" name="tour_members_count" id="tour-members-count" value="<%= @order.tour_members_count %>" data-validate="required;range:1" data-validate-msg="请填写参团人数;请填写一个合理的人数" />
		</div>
	</div>
<% end %>
		<div class="control-group">
			<label class="control-label" for="tour-children-free">免费儿童数<em>*</em></label>
			<div class="controls">
				<input type="number" data-origin="<%= @order.tour_children_free %>" name="tour_children_free" id="tour-children-free" value="<%= @order.tour_children_free %>" data-validate="required;range:0" data-validate-msg="请填写免费儿童数;请填写一个合理的人数" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="tour-children-discount">半价儿童数<em>*</em></label>
			<div class="controls">
				<input type="number" data-origin="<%= @order.tour_children_discount %>" name="tour_children_discount" id="tour-children-discount" value="<%= @order.tour_children_discount %>" data-validate="required;range:0" data-validate-msg="请填写半价儿童数;请填写一个合理的人数" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="tour-adult-count">成人数<em>*</em></label>
			<div class="controls">
				<input type="number" data-origin="<%= @order.tour_adult_count %>" name="tour_adult_count" id="tour-adult-count" value="<%= @order.tour_adult_count %>" data-validate="required;range:0" data-validate-msg="请填写成人数;请填写一个合理的人数" />
			</div>
		</div>
	</fieldset>

	<div class="row">
		<div class="span-6">
			<fieldset<%= " disabled" if fieldset_disable? %>>
				<legend>第一联系人</legend>
				<%= render partial: 'contact_fieldset', locals: {contact: @first_contact, prefix: 'first'} %>
			</fieldset>
		</div>

		<div class="span-6">
			<fieldset<%= " disabled" if fieldset_disable? %>>
				<legend>第二联系人</legend>
				<%= render partial: 'contact_fieldset', locals: {contact: @second_contact, prefix: 'second'} %>
			</fieldset>
		</div>
	</div>

	<fieldset<%= " disabled" if fieldset_disable? %>>
		<legend>酒店信息</legend>
		<%= render partial: 'hotel_fieldset', locals: {hotel: @hotel} %>
	</fieldset>

	<fieldset>
		<legend>订单状态</legend>
		<div class="control-group">
			<label class="control-label" for="status">订单状态</label>
			<div class="controls">
				<select name="status" id="status" required>
					<% Order::STATUS.each_with_index do |it, idx| %>
						<% unless @available_status.index(idx).nil? %>
						<option value="<%= idx %>"<%= " selected" if idx == @order.status %>><%= it %></option>
						<% end %>
					<% end %>
				</select>
			</div>
		</div>
		<%= render 'cancel_reason' %>
	</fieldset>
	
	<fieldset>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary btn-large" data-disable-with="正在保存...">保存订单</button>
				<%= link_to "取消", :back, class: "btn btn-link" %>
			</div>
		</div>
	</fieldset>

</form>
