<% content_for :scripts do %>
	<%= javascript_include_tag "order-index" %>
<% end %>

<ul id="orderTab" class="nav nav-tabs">
	<% Order::CATEGORIES.each_with_index do |name, category| %>
		<li class="<%= "active" if @category == category %>">
			<%= link_to name, orders_path(category: category) %>
		</li>
	<% end %>
</ul>

<% if @category == 0 %>
	<%= render partial: 'condition', locals: {category:0} %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>订单状态</th>
				<th>线路</th>
				<th>发团时间</th>
				<th>客户信息</th>
				<th>总人数</th>
				<th>免票人数</th>
				<th>半价人数</th>
				<th>成人数</th>
				<th>酒店信息</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each_with_index do |order, idx| %>
				<% contact = order.contacts.first %>
				<tr>
					<td><%= idx+1 %></td>
					<td><%= order.status_desc %></td>
					<td>
						<% unless order.scheme.nil? %>
							<%= link_to order.scheme.name, scheme_path(order.scheme) %>
						<% end %>
					</td>
					<td><%= order.tour_time.to_date().to_s(:db) %></td>
					<td>
						<% unless contact.nil? %>
						<%= contact.name %> <span class="label label-info"><%= contact.gender_desc %></span> <br />
						<%= contact.chinese_phone %>
						<% end %>
					</td>
					<td><%= order.tour_members_count %></td>
					<td><%= order.tour_children_free %></td>
					<td><%= order.tour_children_discount %></td>
					<td><%= order.tour_adult_count %></td>
					<td>
						<% unless order.hotel.nil? %>
							<%= order.hotel.name %> <%= order.hotel.phone %><br />
							<%= order.hotel.address %>
						<% end %>
					</td>
					<td>
						<%= link_to "详细", order_path(order) %>
						<% if can? :update, order %>
							<%= link_to "编辑", edit_order_path(order) %>
						<% end %>
						<% if can? :destroy, order %>
							<%= link_to "删除", destroy_order_path(order), 
								method: "delete", 
								confirm: "确定要删除此订单?", 
								remote: true, 
								class: "link-destroy-order", 
								data: {
									disable_with: "删除中..."
								} 
							%>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% elsif @category == 1 %>
	<%= render partial: 'condition', locals: {category:1} %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>订单状态</th>
				<th>航班信息</th>
				<th>抵达时间</th>
				<th>客户信息</th>
				<th>酒店信息</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each_with_index do |order, idx| %>
				<% contact = order.contacts.first %>
				<tr>
					<td><%= idx+1 %></td>
					<td><%= order.status_desc %></td>
					<td>
						<% unless order.flight.nil? %>
							<%= order.flight.airline %> - <%= order.flight.number %><br />
						<% end %>
					</td>
					<td>
						<% unless order.flight.nil? %>
							<%= order.flight.arrive_at.to_s(:db) %>
						<% end %>
					</td>
					<td>
						<% unless contact.nil? %>
							<%= contact.name %> <span class="label label-info"><%= contact.gender_desc %></span> <br />
							<%= contact.chinese_phone %>
						<% end %>
					</td>
					<td>
						<% unless order.hotel.nil? %>
							<%= order.hotel.name %> <%= order.hotel.phone %><br />
							<%= order.hotel.address %>
						<% end %>
					</td>
					<td>
						<%= link_to "详细", order_path(order) %>
						<% if can? :update, order %>
							<%= link_to "编辑", edit_order_path(order) %>
						<% end %>
						<% if can? :destroy, order %>
							<%= link_to "删除", destroy_order_path(order), 
								method: "delete", 
								confirm: "确定要删除此订单?", 
								remote: true, 
								class: "link-destroy-order", 
								data: {
									disable_with: "删除中..."
								} 
							%>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
