<% provide(:title, "创建订单") %>

<% content_for :scripts do %>
	<%= javascript_include_tag "order-new" %>
<% end %>

<div class="btn-group">
	<%= link_to "创建旅行订单", orders_new_tour_path, class: "btn btn-large" %>
	<%= link_to "创建接机订单", orders_new_pickup_path, class: "btn btn-large" %>
</div>
	
