<% provide(:title, "创建旅游订单") %>

<% content_for :scripts do %>
	<%= javascript_include_tag "order-new" %>
<% end %>

<form action="<%= orders_path %>" method="post" class="form form-horizontal" data-remote novalidate data-confirm="确定要保存此订单吗?">
	<input type="hidden" name="category" value="0" />
	<h1>新建旅游订单</h1>

	<fieldset>
		<legend>参团信息</legend>
		<div class="control-group">
			<label class="control-label" for="scheme">旅行路线</label>
			<div class="controls">
				<select name="scheme" id="scheme" required>
					<% Scheme.all.each do |scheme| %>
						<option value="<%= scheme.id %>"><%= scheme.name %></option>
					<% end %>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="tour-time">旅行日期<em>*</em></label>
			<div class="controls">
				<div data-behaviour="datepicker" class="input-append date">
					<input name="tour_time" id="tour-time"  data-format="yyyy-MM-dd" readonly type="text" data-validate="required" data-validate-msg="请填写旅行日期" />
					<span class="add-on">
						<i class="icon-calendar"></i>
					</span>
				</div>
			</div>
		</div>
<% if false %>
	<div class="control-group">
		<label class="control-label" for="tour-members-count">参团人数<em>*</em></label>
		<div class="controls">
			<input type="number" name="tour_members_count" id="tour-members-count" value="1" data-validate="required;range:1" data-validate-msg="请填写参团人数;请填写一个合理的人数" />
		</div>
	</div>
<% end %>
		<div class="control-group">
			<label class="control-label" for="tour-children-free">免费儿童数<em>*</em></label>
			<div class="controls">
				<input type="number" name="tour_children_free" id="tour-children-free" value="0" data-validate="required;range:0" data-validate-msg="请填写免费儿童数;请填写一个合理的人数" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="tour-children-discount">半价儿童数<em>*</em></label>
			<div class="controls">
				<input type="number" name="tour_children_discount" id="tour-children-discount" value="0" data-validate="required;range:0" data-validate-msg="请填写半价儿童数;请填写一个合理的人数" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="tour-adult-count">成人数<em>*</em></label>
			<div class="controls">
				<input type="number" name="tour_adult_count" id="tour-adult-count" value="1" data-validate="required;range:0" data-validate-msg="请填写成人数;请填写一个合理的人数" />
			</div>
		</div>
	</fieldset>

	<div class="row">
		<div class="span-6">
			<fieldset>
				<legend>第一联系人</legend>
				<%= render partial: 'contact_fieldset', locals: {contact: nil, prefix: 'first'} %>
			</fieldset>
		</div>

		<div class="span-6">
			<fieldset>
				<legend>第二联系人</legend>
				<%= render partial: 'contact_fieldset', locals: {contact: nil, prefix: 'second'} %>
			</fieldset>
		</div>
	</div>

	<fieldset>
		<legend>酒店信息</legend>
		<%= render partial: 'hotel_fieldset', locals: {hotel: nil} %>
	</fieldset>

	<fieldset>
		<legend>订单状态</legend>
		<div class="control-group">
			<label class="control-label" for="status">订单状态</label>
			<div class="controls">
				<select name="status" id="status" required>
					<% Order::STATUS.each_with_index do |it, idx| %>
						<% unless @available_status.index(idx).nil? %>
							<option value="<%= idx %>"><%= it %></option>
						<% end %>
					<% end %>
				</select>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary btn-large" data-disable-with="正在保存...">保存订单</button>
				<%= link_to "取消", :back, class: "btn btn-link" %>
			</div>
		</div>
	</fieldset>
</form>
