<% provide(:title, "订单结算") %>

<% content_for :scripts do %>
	<%= javascript_include_tag "order-settle" %>
<% end %>

<table class="table table-hover">
	<thead>
		<tr>
			<th>日期</th>
			<th>线路</th>
			<th>总人数</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<% if @items.count > 0 %>
			<% @items.each do |item| %>
				<tr>
					<td><%= item[:date].to_s(:db) %></td>
					<td><%= item[:scheme].name %></td>
					<td><%= item[:tourist] %></td>
					<td>
						<% if item[:settled] %>
							已结算
						<% elsif can? :create, Settle %>
							<%= link_to "结算", set_settle_path(date: item[:date], scheme_id: item[:scheme].id), remote: "true", confirm: "确定已经结算完成？", method: "post", class: "link-settle" %>
						<% else %>
							未结算
						<% end %>
					</td>
				</tr>
			<% end %>
		<% else %>
			<tr>
			    <td colspan="4">没有数据</td>
			</tr>
		<% end %>
	</tbody>
</table>
