<% content_for :scripts do %>
	<%= javascript_include_tag "order-show" %>
<% end %>

<div class="row">
	<div class="span4">
		<table class="table table-striped">
			<caption>基本信息</caption>
			<tbody>
				<tr>
					<th>订单类型</th>
					<td><%= @order.category_desc %></td>
				</tr>
				<tr>
					<th>订单状态</th>
					<td><%= @order.status_desc %></td>
				</tr>
				<% unless @scheme.nil? %>
					<tr>
						<th>旅游线路</th>
						<td><%= link_to @scheme.name, scheme_path(@scheme) %></td>
					</tr>
				<% end %>
				<tr>
					<th>发团时间</th>
					<td><%= @order.tour_time %></td>
				</tr>
				<tr>
					<th>旅游人数</th>
					<td><%= @order.tour_members_count %></td>
				</tr>
				<tr>
					<th>免费儿童数</th>
					<td><%= @order.tour_children_free %></td>
				</tr>
				<tr>
					<th>半价儿童数</th>
					<td><%= @order.tour_children_discount %></td>
				</tr>
				<tr>
					<th>成人数</th>
					<td><%= @order.tour_adult_count %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<% unless @hotel.nil? %>
	<div class="span4">
		<table class="table table-striped">
			<caption>酒店信息</caption>
			<tbody>
				<tr>
					<th>酒店名称</th>
					<td><%= @hotel.name %></td>
				</tr>
				<tr>
					<th>酒店地址</th>
					<td><%= @hotel.address %></td>
				</tr>
				<tr>
					<th>酒店电话</th>
					<td><%= @hotel.phone %></td>
				</tr>
			</tbody>
		</table>

	</div>
	<% end %>
	<% unless @flight.nil? %>
	<div class="span4">
		<table class="table table-striped">
			<caption>航班信息</caption>
			<tbody>
				<tr>
					<th>航班号</th>
					<td><%= @flight.number %></td>
				</tr>
				<tr>
					<th>航空公司</th>
					<td><%= @flight.airline %></td>
				</tr>
				<tr>
					<th>抵达时间</th>
					<td><%= @flight.arrive_at %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<% end %>
</div>

<table class="table table-bordered">
	<caption>联系人信息</caption>
	<thead>
		<tr>
			<th>#</th>
			<th>姓名</th>
			<th>性别</th>
			<th>中国手机</th>
			<th>越南手机</th>
			<th>护照号</th>
			<th>qq</th>
			<th>微信</th>
			<th>微博</th>
			<th>邮箱</th>
		</tr>
	</thead>
	<tbody>
		<% @order.contacts.each_with_index do |contact, idx| %>
			<tr>
				<td><%= idx+1 %></td>
				<td><%= contact.name %></td>
				<td><%= contact.gender_desc %></td>
				<td><%= contact.chinese_phone %></td>
				<td><%= contact.vietnamese_phone %></td>
				<td><%= contact.passport_number %></td>
				<td><%= contact.qq %></td>
				<td><%= contact.wechat %></td>
				<td><%= contact.weibo %></td>
				<td><%= contact.email %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% unless @order.cancel_reason.nil? %>
	<div class="well">订单取消原因: <%= @order.cancel_reason %></div>
<% end %>

<div class="row-fluid">
	<% if can? :update, @order %>
		<a href="<%= edit_order_path(@order) %>" class="btn btn-primary">
			<i class="icon-edit icon-white"></i> 编辑
		</a>
	<% end %>
	<% if can? :destroy, @order %>
		<a href="<%= destroy_order_path(@order) %>" data-method="delete" 
			data-confirm="确定要删除此订单?" data-disable-with="删除中..." 
			data-remote="true" class="btn btn-danger link-destroy-order">
			<i class="icon-remove icon-white"></i> 删除
		</a>
	<% end %>
	<%= link_to "返回", :back, class: "btn" %>
</div>
