$link: #3198cd;

@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "mixin";

body.active-admin {
	background: none;
}

.container-fluid {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	padding: 10px 0 20px;
	@include clearfix;

	.logo {
		float: left;
		font-size: 24px;
		margin: 0;
	}

	.user-links {
		float: right;
		margin-top: 5px;
	}
}

.control-label em {
	color: red;
}

.form {
	input.error, textarea.error {
		border: 1px solid #cc0000;
	}

	p.error {
		color: #cc0000;
		line-height: 1.5;
	}
}
