<% provide(:title, @album.name) %>

<% content_for :scripts do %>
<%= javascript_include_tag "albums" %>
<% end %>

<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="span10">
      <div class="photo-show">
        <div id="slideshow">
        </div>
        <div id="caption"></div>
        <div id="loading"></div>
      </div>
      <div id="thumbs">
        <ul class="unstyled thumbs">
          <% 5.times.each do %>
          <li>
            <a class="thumb" href="<%= asset_path 'slide-0.jpg' %>">
              <img src="<%= asset_path 'slide-0.jpg' %>" />
            </a>
            <div class="caption">
              <h6>芽庄的海滩</h6>
              <p>在芽庄魅力的的所爱神佛是啊地方安德森，撒旦安德森佛，啊是否，啊速读法，啊速读法啊速读法</p>
            </div>
          </li>
          <li>
            <a class="thumb" href="<%= asset_path 'slide-1.jpg' %>">
              <img src="<%= asset_path 'slide-1.jpg' %>" />
            </a>
            <div class="caption">
              <h6>芽庄的海滩</h6>
              <p>在芽庄魅力的的所爱神佛是啊地方安德森，撒旦安德森佛，啊是否，啊速读法，啊速读法啊速读法</p>
            </div>
          </li>
        <li>
            <a class="thumb" href="<%= asset_path 'photo.jpg' %>">
              <img src="<%= asset_path 'photo.jpg' %>" />
            </a>
            <div class="caption">
              <h6>芽庄的海滩</h6>
              <p>在芽庄魅力的的所爱神佛是啊地方安德森，撒旦安德森佛，啊是否，啊速读法，啊速读法啊速读法</p>
            </div>
          </li>
          <li>
            <a class="thumb" href="<%= asset_path 'vietnam-flag.png' %>">
              <img src="<%= asset_path 'vietnam-flag.png' %>" />
            </a>
            <div class="caption">
              <h6>芽庄的海滩</h6>
              <p>在芽庄魅力的的所爱神佛是啊地方安德森，撒旦安德森佛，啊是否，啊速读法，啊速读法啊速读法</p>
            </div>
          </li>
        <li>
            <a class="thumb" href="<%= asset_path 'vietnam-map.gif' %>">
              <img src="<%= asset_path 'vietnam-map.gif' %>" />
            </a>
            <div class="caption">
              <h6>芽庄的海滩</h6>
              <p>在芽庄魅力的的所爱神佛是啊地方安德森，撒旦安德森佛，啊是否，啊速读法，啊速读法啊速读法</p>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span2">
    <div class="album-list">
      <ul class="unstyled clearfix">
      <% 5.times do %>
        <li>
          <a href="#">
            <img src="<%= asset_path 'photo.jpg' %>" />
            <p>越南美食</p>
          </a>
        </li>
      <% end %>
      </ul>
    </div>
    </div>
  </div>
  
</div>

<%= render 'layouts/footer' %>
