<% provide(:title, @area.name) %>

<% content_for :scripts do %>
<%= javascript_include_tag "areas" %>
<% end %>

<div id="pg-area" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<ul class="nav-area">
			<% @areas.each do |area| %>
			<li<%= " class=current" if area.eql? @area %>>
				<%= link_to area.name, area_path(area) %>
			</li>
			<% end %>
		</ul>

		<div class="around">
			周边城市景点：
			<% @cities.each do |c| %>
				<%= link_to "#{ c.name }", city_path(c) %>
			<% end %>
		</div>

		<div class="summary">
            <%= @area.weather.try(:html_safe) %>
			<%= image_tag @area.cover.pic, class: "cover", width: "560", height: "300" %>
			<p class="desc"><%= @area.desc %></p>
		</div>

		<div class="schemes">
			<h4 class="section-title"><%= @area.name %>的所有旅游线路</h4>
			<ul>
			<% @schemes.each_with_index do |s, index| %>
				<li class="<%= 'r' if index % 3 == 2 %><%= 'l' if index % 3 == 0 %>">
					<a href="<%= scheme_path(id: s.id) %>">
						<img src="<%= s.cover.thumb %>" />
						<h6 class="name"><%= s.name %></h6>
						<p class="desc"><%= s.desc %></p>
						<span class="price"><small class="yen">&yen;</small><%= s.price %></span>
						<span class="see">去看看</span>
					</a>
				</li>
			<% end %>
			</ul>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
