$ ->
  $('.ad-gallery').adGallery
    loader_image: '<%= asset_path "loader-s.gif" %>'
    width: 950
    height: 440
    effect: 'fade'
    slideshow:
      enable: false
    hooks:
      displayDescription: -> ''
