<% provide(:title, @photo.name) %>

<% content_for :scripts do %>
	<%= javascript_include_tag "pg-photo" %>
<% end %>

<div id="pg-photo" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="album-preview">
			<h5 class="album-name">相册：<%= @album.name %></h5>
			<div class="preview-wrap">
				<div class="preview-nav">
					<span class="order">第<b class="current-order">1</b>张 / 共<%= @photos.count %>张</span>
					<span class="prev-next">
						<a href="javascript:;" class="prev">上一张</a> |
						<a href="javascript:;" class="next">下一张</a>
					</span>
				</div>
				<div class="preview">
					<%= image_tag @photo.file.pic, class: "preview-img", width: "680", height: "440" %>
					<a href="javascript:;" class="prev">上一张</a>
					<a href="javascript:;" class="next">下一张</a>
					<div class="preview-loading">
						<div class="loading"></div>
					</div>
					<%= social_share_button_tag(@photo.name, image: "http://#{ Yetting.domain }:#{ Yetting.port }#{ @photo.file.pic_with_watermark }") %>
				</div>
				<div class="preview-info">
					<h6><%= @photo.name %></h6>
					<p><%= @photo.desc %></p>
				</div>
			</div>
			<div class="thumbs">
				<div id="photos-pager" class="pager"></div>
				<ul>
				<% @photos.each do |photo| %>
					<li class="thumb<%= " init-current" if photo == @photo %>">
						<%= image_tag photo.file.pic_thumb, width: "80", height: "80",
							title: photo.name, alt: photo.name,
							data: {
								origin_src: photo.file.pic.url,
								origin_share: "http://#{ Yetting.domain }:#{ Yetting.port }#{ photo.file.pic_with_watermark }",
								url: photo_path(photo)
							}
						%>
					</li>
				<% end %>
				</ul>
			</div>
		</div>

		<div class="other-albums">
			<h4 class="section-title">其他相册</h4>
			<% @lists.each do |list| %>
				<div class="album-list">
					<div class="album-list-summary">
						<h4><%= list.name %></h4>
					</div>
					<div class="album-list-content">
						<ul class="albums">
						<% list.albums.each do |a| %>
							<% p = a.photos.first %>
							<li>
								<div class="cover-wrap">
									<span class="cover">
										<a href="<%= photo_path(p) %>">
											<%= image_tag p.file.pic %>
											<span class="count"><%= a.photos.count %>张</span>
										</a>
									</span>
									<span class="cover-bg-0"></span>
									<span class="cover-bg-1"></span>
								</div>
								<h6 class="name" title="<%= a.name %>"><%= a.name %></h6>
							</li>
						<% end %>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
