<% provide(:title, @city.name) %>

<% content_for :scripts do %>
	<%= javascript_include_tag "cities" %>
<% end %>

<div id="pg-city" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<ul class="nav-area">
			<% @areas.each do |area| %>
			<li<%= " class=current" if area.eql? @area %>>
				<%= link_to area.name, area.cities.any?? city_path(area.cities.first) : '#' %>
			</li>
			<% end %>
		</ul>

		<div class="around">
			周边城市景点：
			<% @cities.each do |c| %>
				<%= link_to "#{ c.name }", city_path(c), class: ("current" if c.eql? @city) %>
			<% end %>
		</div>

		<div class="summary">
			<%= @city.weather.try(:html_safe) %>
			<%= image_tag @city.cover.pic, class: "cover", width: "560", height: "300" %>
			<p class="desc"><%= @city.desc %></p>
		</div>

		<% if @city.route_info %>
			<h4 class="section-title"><%= @city.name %>的最佳旅游时间</h4>
			<div class="route-info">
				<%= @city.route_info.html_safe %>
			</div>
		<% end %>

		<% if @city.hotel_info %>
			<h4 class="section-title"><%= @city.name %>的酒店信息</h4>
			<div class="hotel-info">
				<%= @city.hotel_info.html_safe %>
			</div>
		<% end %>

		<% if @city.traffic_info %>
			<h4 class="section-title"><%= @city.name %>的交通贴士</h4>
			<div class="traffic-info">
				<%= @city.traffic_info.html_safe %>
			</div>
		<% end %>

		<% if false and  @city.map %>
			<div class="map">
				<%= image_tag @city.map, width: "960", height: "300" %>
			</div>
		<% end %>

		<div class="sights">
			<h4 class="section-title"><%= @city.name %>的所有景点</h4>
			<% @sights.each do |s| %>
				<div class="sight">
					<%= link_to image_tag(s.cover.thumb, class: "cover", width: "300", height: "200"), sight_path(s) %>
					<h5><%= s.name %></h5>
					<div class="desc">
						<%= s.desc.truncate(200).html_safe %>
					</div>
					<%= link_to "查看景点详情", sight_path(s), class: "see" %>
				</div>
			<% end %>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
