.area-nav {
	margin-top: 30px;
}

.schemes {
	li {
		float: left;
		background: #fff;
		border: #ccc;
		margin: 0 15px 15px 0;
		padding: 10px;
		
		img {
			width: 200px;
			height: 140px;
		}

		.name {
			font-size: 14px;
		}

		.price {
			color: #cc0000;
			font-size: 24px;
			small {
				font-size: 14px;
				margin-right: 4px;
			}
		}
	}
}

