.hide {
	display: none;
}

body {
	background: #fff url(bg.png) repeat-x 0 0;
	text-align: center;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Hiragino Sans GB"; /*"微软雅黑";*/
	color: #555;
}

.section-title {
	position: relative;
	margin-bottom: 15px;
	font-size: 20px;
	// line-height: 1.5;
	padding-left: 20px;
	// border-left: 4px solid #ee6500;
	color: #555;
	text-align: center;
	padding: 10px 5px;
	background-color: #f6f6f6;
	@include radius;

	.more {
		position: absolute;
		right: 20px;
		top: 15px;
		font-size: 12px;

		&:hover {
			text-decoration: underline;
		}
	}
}

b { font-weight: bold; }

a {
	color: $link;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.container {
	width: 990px;
	margin: 0 auto;
	text-align: left;
}

.content {
	min-height: 400px;
	background-color: #fff;
	padding: 15px;
	@include border-radius(4px, 4px, 0, 0);
}

.header {
	position: relative;
	height: 68px;
	margin-bottom: 20px;
	@include clearfix;

	.share {
		position: absolute;
		right: 0;
		top: 15px;
		color: #fff;

		.social-share-button {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.logo {
		float: left;
		margin: 8px 30px 0 0;

		a {
			width: 180px;
			height: 60px;
			text-indent: -99999px;
			display: block;
			overflow: hidden;
			background: image-url("logo.png") 0 0 no-repeat;
		}
	}

	.nav {
		float: left;
		margin-top: 45px;

		li {
			float: left;
			margin-right: 5px;

			&.active a {
				background-color: rgba(0,0,0,0.3);
			}
		}

		a {
			font-size: 16px;
			color: #fff;
			padding: 6px 12px;
			@include text-shadow(-1px,-1px,1px,rgba(0,0,0,0.2));
			@include radius;

			&:hover {
				background-color: rgba(0,0,0,0.3);
			}
		}
	}
}

.fixed-contact {
	position: fixed;
	right: 20px;
	top: 129px;
	margin-top: -50px;
	background-color: #fff;
	width: 130px;
	padding: 15px;
	text-align: left;
	overflow: hidden;
	@include box-shadow(0,0, 8px,rgba(0,0,0,0.3));
	@include radius;

	.title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	li {
		margin-top: 15px;

		h6 {
			margin-bottom: 5px;
			padding: 5px;
			background-color: rgba(0,0,0,0.05);
			@include radius;
		}

		p {
			padding: 2px 0;
			font-size: 12px;

			a {
				color: #777;
				position: relative;

				&:hover {
					color: #444;
					left: 3px;
				}
			}

			a, a:hover {
				@include transition(0.2s, all);
			}
		}
	}
}

.footer {
	margin-top: 40px;
	border-top: 1px solid #ccc;
	background-color: #fff;
	padding: 20px 30px;
	color: #777;
	position: relative;

	.link-weibo {
		// position: absolute;
		// right: 0;
		// top: 15px;
		padding-left: 36px;
		height: 24px;
		line-height: 24px;
		background: image-url("icon-weibo.png") 0 center no-repeat;
		display: block;
		width: 84px;
		margin: 0 auto 20px auto;
		color: #333;

		&:hover {
			color: #555;
		}
	}

	.contact-qqs {
		margin-bottom: 10px;
	}

	.copyright {
		text-align: center;
		font-size: 12px;
		color: #aaa;
		padding: 0 0 10px;
		line-height: 1.6;

		a {
			color: #aaa;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.nav {
		text-align: center;
		padding: 10px 0 15px;
		font-size: 12px;

		li, a {
			display: inline-block;
			color: #999;
			padding: 0 2px;
		}
	}
}


.nav-area {
	background-color: #f6f6f6;
	padding: 20px 30px 0;
	@include radius;
	@include clearfix;

	li {
		float: left;

		a {
			display: block;
			font-size: 16px;
			width: 210px;
			text-align: center;
			margin: 0 5px;
			padding: 15px 0;
		}

		&.current,
		&:hover	{
			a {
				background-color: #fff;
				color: #ee6500;
				@include border-radius(4px,4px,0,0);
			}
		}
	}
}

.around {
	margin: 20px 0;
	font-size: 16px;

	a {
		margin: 0 3px;

		&.current,
		&:hover {
			color: #ee6500;
		}
	}
}

.summary {
	background-color: #f6f6f6;
	height: 300px;
	margin-bottom: 30px;
	overflow: hidden;
	@include clearfix;

	.cover {
		float: left;
		margin-right: 20px;
	}

	.desc {
		color: #666;
		line-height: 1.8;
		margin: 20px;
		font-size: 12px;
	}
}

.weather {
  float: right;
  padding: 20px 30px;
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
}

.contact-qqs {
	text-align: center;

	span {
		display: block;
		margin-bottom: 10px;
		font-size: 16px;
		color: #0AA228;
	}

	a {
		vertical-align: middle;
		display: inline-block;
	}

}

.pagination {
	font-size: 16px;
	margin-top: 40px;
	text-align: center;
	line-height: 1;

	span {
		border: 1px solid #ccc;
		padding: 4px 8px 3px;
		display: inline-block;
		margin: 0 1px;

		&:hover {
			background-color: #e9e9e9;
		}

		&.current {
			background-color: none;
		}
	}

}
