@mixin text-shadow($x:0, $y:1px, $depth:0px, $color:rgba(255,255,255,1)) {
  -webkit-text-shadow: $x $y $depth $color;
  -moz-text-shadow: $x $y $depth $color;
  text-shadow: $x $y $depth $color;
}

@mixin box-shadow ($x:1px, $y:2px, $depth:8px, $color:rgba(80,50,0,0.2)) {
  -webkit-box-shadow: $x $y $depth $color;
  -moz-box-shadow: $x $y $depth $color;
  box-shadow: $x $y $depth $color;
}

@mixin box-shadow-inset ($x:1px, $y:2px, $depth:8px, $color:rgba(80,50,0,0.2)) {
  -webkit-box-shadow: inset $x $y $depth $color;
  -moz-box-shadow: inset $x $y $depth $color;
  box-shadow: inset $x $y $depth $color;
}

@mixin background-image ($x,$y) {
  background-image: -webkit-linear-gradient(top, $x, $y);
  background-image:    -moz-linear-gradient(top, $x, $y);
  background-image:         linear-gradient(to bottom, $x, $y);
}

@mixin radius ($x:4px) {
  -moz-border-radius: $x;
  -webkit-border-radius: $x;
  border-radius: $x;
}

@mixin border-radius ($x:4px, $y:4px, $m:4px, $n:4px) {
  -moz-border-radius: $x $y $m $n;
  -webkit-border-radius: $x $y $m $n;
  border-radius: $x $y $m $n;
}

@mixin transition ($x, $y:all) {
    -webkit-transition: $y $x ease-in-out;
       -moz-transition: $y $x ease-in-out;
            transition: $y $x ease-in-out;
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    display:table;
    content:"";
  }
  &:after {
    clear: both;
  }
}

@mixin text-mask {
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

@mixin ckeditor-content {
  line-height: 1.5;
  margin-bottom: 30px;
  min-height: 300px;

  ol,ul,dl {
    margin: 1em 0;
    padding:0 40px;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: circle;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.15em;
  }

  h4 {
    font-size: 1.15em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0.5em;
  }
}
