#pg-area {
	.schemes {
		ul {
			@include clearfix;

			li {
				margin: 0 10px 30px 10px;
				float: left;

				&.l {
					margin-left: 0;
				}

				&.r {
					margin-right: 0;
					margin-left: 11px;
				}
			}

			a {
				display: block;
				padding: 12px;
				width: 282px;
				position: relative;
				background-color: #f6f6f6;
				@include radius;

				img {
					width: 282px;
				}

				.name {
					font-size: 18px;
					padding: 10px 0;
					color: #333;
				}

				.desc {
					height: 36px;
					overflow: hidden;
					line-height: 1.5;
					font-size: 12px;
					margin-bottom: 10px;
					color: #555;
					// background-color: #ccc;
				}

				.price {
					// display: none;
					color: #ee6500;
					font-size: 30px;
					visibility: hidden;

					.yen {
						margin-right: 5px;
						font-size: 16px;
					}
				}

				.see {
					position: absolute;
					right: -1px;
					bottom: 10px;
					display: inline-block;
					background-color: #cc0000;
					color: #fff;
					padding: 10px 12px;
				}

				&:hover {
					background-color: #e9e9e9;
				}
			}
		}
	}

}
