#pg-city {
	.sights {
		.sight {
			position: relative;
			background-color: #f6f6f6;
			margin-bottom: 10px;
			@include clearfix;

			.cover {
				float: left;
				margin-right: 20px;
			}

			h5 {
				font-size: 20px;
				margin: 20px 20px 10px 0;
			}

			.desc {
				margin: 0 20px 0 0;
				line-height: 1.8;
				font-size: 14px;
			}

			.see {
				position: absolute;
				top: 10px;
				right: -1px;
				background: url(ribbon.png) 0 0 no-repeat;
				color: #fff;
				width: 109px;
				padding-left: 15px;
				text-align: center;
				height: 33px;
				line-height: 30px;
				display: block;

				&:hover {
					background-position: 0 -33px;
				}
			}
		}
	}

	.route-info,
	.hotel-info,
	.traffic-info,
	.map {
		line-height: 1.5;
		margin-bottom: 30px;

		& > div,
		p {
			margin-bottom: 0.5em;
		}
	}

	.map {
		display: none;
	}
}
