#pg-homestay,
#pg-expert {
	.content {
		padding: 30px;

		.sidebar {
			width: 160px;
			float: left;

			img {
				width: 150px;
				display: block;
			}

			h5 {
				margin: 10px 0;
			}
		}

		.main {
			margin-left: 200px;

			h4 {
				font-size: 1.5em;
				margin-bottom: 0.5em;
			}
		}
	}
}
