#pg-homestays,
#pg-experts {
	.content {
		padding: 30px;

		.sidebar {
			width: 160px;
			float: left;
		}

		.main {
			margin-left: 200px;

			.main-title {
				font-size: 24px;
				margin-bottom: 15px;
			}

			.experts-intro {
				margin-bottom: 30px;
			}
		}
	}

	.nav-experts {
		position: fixed;
		width: 130px;
		padding: 15px;
		@include radius;
		@include box-shadow;

		li {
			line-height: 1.5;
		}
	}

	.section {
		margin: 0 0 40px 0;

		h5 {
			font-size: 20px;
			margin-bottom: 0.5em;
		}

		ul {
			@include clearfix;
		}

		li {
			float: left;
			width: 150px;

			img {
				height: 150px;
				display: block;
			}

			h6 {
				color: #333;
				margin: 10px 0;
			}

			.desc {
				font-size: 12px;
				color: #999;
			}
		}
	}
}
