#pg-girls {
	h2 {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 0.5em;
	}

	.wookmark {
		position: relative;
		margin: 0;
		padding: 0;

		li {
			width: 300px;
			background-color: #fff;
			border: 1px solid #dedede;
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			display: none; /** Hide items initially to avoid a flicker effect **/
			cursor: pointer;
			padding: 8px;

			a {
				display: block;
			}

			img {
				display: block;
				width: 300px;
			}

			p {
				line-height: 1.5;
				font-size: 14px;
				color: #666;
			}

			.name {
				color: #333;
				font-size: 16px;
				margin: 8px 0 0px 0;
			}

			&.inactive {
				visibility: hidden;
				opacity: 0;
			}
		}

		.wookmark-placeholder {
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			background-color: #eee;
			border: 1px solid #dedede;
			z-index: -1;
		}
	}
}

#pg-girl {
	h2 {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 0.5em;
	}

	.girls li {
		margin-bottom: 20px;

		img {
			margin-bottom: 6px;
			display: block;
			background-color: #fff;
			border: 1px solid #dedede;
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			padding: 8px;
		}

		p {
			line-height: 1.5;
			font-size: 14px;
			color: #666;
		}

		.name {
			color: #333;
			font-size: 16px;
			margin: 8px 0 0px 0;
		}
	}

	.share {
		margin: 10px 0;

		.social-share-button {
			display: inline-block;
			vertical-align: middle;

		}
	}

}
