#pg-guides {
	.content {
		padding: 30px;

		.sidebar {
			width: 160px;
			float: left;
		}

		.main {
			margin-left: 200px;
		}
	}

	.nav-guides {
		position: fixed;
		width: 130px;
		padding: 15px;
		@include radius;
		@include box-shadow;

		li {
			line-height: 1.5;
		}
	}

	.section {
		margin: 0 0 40px 0;

		h5 {
			font-size: 20px;
			margin-bottom: 0.5em;
		}

		dl {
			line-height: 1.5;
		}

		dt {
			font-size: 16px;
			color: #ee6500;

			&:before {
				content: "Q ";
				font-size: 30px;
				font-family: helvetical;
			}
		}

		dd {
			color: #888;
			padding: 0 0 15px 30px;

			ol {
				list-style: decimal;
				margin: 15px 20px 15px 40px;

				li {
					margin-bottom: 10px;
					font-size: 14px;
				}
			}
		}
	}
}
