#pg-home {

	.intro {
		display: none;
		height: 80px;
		background: #f6f6f6 image-url("home-banner.png") 0 0 no-repeat;
		@include radius(4px);
	}

	.main {
		margin-top: 30px;
		@include clearfix;
	}

	.map {
		float: left;
		position: relative;

		.map-area {
			position: absolute;
			background: #fff;
			width: 50px;
			height: 50px;
			overflow: hidden;
			display: block;

			&:hover {
				opacity: 0.9;
			}

			img {
				width: 50px;
				height: 50px;
			}

			&.area-0 {
				top: 35px;
				left: 12px;
			}

			&.area-1 {
				left: 123px;
				top: 276px;
			}

			&.area-2 {
				left: 158px;
				top: 429px;
			}

			&.area-3 {
				left: 51px;
				top: 502px;
			}
		}
	}

	.recommend {
		float: right;
		width: 600px;

		.areas {
			@include clearfix;

			.area {
				float: left;
				display: block;
				position: relative;
				padding: 15px;
				margin-bottom: 5px;
				background-color: #fafafa;
				border: 1px solid #eee;

				&.even {
					margin-left: 10px;
				}

				img {
					width: 260px;
					height: 150px;
					border: 1px solid #ccc;
					margin-bottom: 8px;
					display: block;
				}

				h6 {
					margin-right: 5px;
					font-size: 18px;
					display: inline-block;
				}

				p {
					display: inline-block;
					color: #999;
					font-size: 12px;
				}

				&:hover {
					opacity: 0.9;
				}
			}
		}

		.hot-schemes-wrap {
			margin: 30px 0 0 0;
			@include clearfix;

			.hot-schemes {
			}

			.hot-scheme {
				float: left;
				display: block;
				padding: 6px;
				margin-left: 12px;
				position: relative;
				background-color: #fafafa;
				border: 1px solid #eee;

				img {
					width: 125px;
					height: 89px;
					border: 1px solid #ccc;
				}

				h6 {
					color: #555;
					text-align: center;
					font-size: 14px;
					padding: 8px 0 5px;
				}

				&:hover {
					opacity: 0.9;
				}

				&:first-child {
					margin: 0;
				}
			}
		}
	}

	.guides {
		margin-top: 30px;

		dl {
			line-height: 1.5;
		}

		dt {
			font-size: 16px;
			color: #ee6500;

			&:before {
				content: "Q ";
				font-size: 30px;
				font-family: helvetical;
			}
		}

		dd {
			color: #888;
			padding: 0 0 15px 30px;

			ol {
				list-style: decimal;
				margin: 15px 20px 15px 40px;

				li {
					margin-bottom: 10px;
					font-size: 14px;
				}
			}

			.more {
				font-size: 12px;
			}
		}
	}

	.photos {
		margin-top: 30px;

		table {
			width: 100%;

			td {
				border: 1px solid #fff;
				overflow: hidden;
			}
		}

		a {
			display: block;
			position: relative;
			background-color: #000;
			text-align: center;
			width: 170px;
			height: 150px;

			h6 {
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: rgba(0,0,0,0.5);
				color: #fff;
				font-size: 14px;
				width: 100%;
				display: none;
				padding: 10px 0;
				text-align: center;
			}

			&:hover {
				h6 {
					display: block;
				}
			}
		}

		img {
			height: 100%;
			width: auto;
			margin: 0 auto;
		}

		.col-1 {
		}

		.row-0 {
			&.col-0,
			&.col-1 {
				width: 170px;
			}

			&.col-2 {
				width: 300px;
				height: 300px;

				a {
					height: 300px;
					width: 300px;
				}
			}

			&.col-3,
			&.col-4 {
				width: 157px;
				a {
					width: 157px;
				}
			}
		}

		.row-1 {
			a {
				height: 149px;
			}

			&.col-2 {
				width: 315px;

				a {
					width: 315px;
				}

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
