#pg-charter,
#pg-infos {
	.section {
		@include clearfix;
		margin-bottom: 20px;

		a {
			float: left;
			display: block;
			position: relative;
			margin: 0 20px 20px 0;
			padding: 5px;
			background-color: #fafafa;
			border: 1px solid #eee;

			&.even {
				margin-left: 10px;
			}

			img {
				width: 200px;
				height: 120px;
				border: 1px solid #ccc;
				margin-bottom: 8px;
				display: block;
			}

			h6 {
				font-size: 14px;
				line-height: 1.8;
				color: #333;
			}

			p {
				font-size: 12px;
				color: #999;
			}

			&:hover {
				opacity: 0.9;
			}
		}
	}

	.assist {
		margin-top: 30px;
		vertical-align: top;
		@include clearfix;

		& > div {
			float: left;
			margin-right: 80px;
		}

		h5 {
			font-size: 16px;
			margin: 20px 0;
		}

		.bd {
			@include clearfix;
		}

		a {
			display: block;
			float: left;
			margin-right: 20px;

			&:last-child {
				margin: 0;
			}
		}
	}

	.guides {
		margin-top: 30px;

		dl {
			line-height: 1.5;
		}

		dt {
			font-size: 16px;
			color: #ee6500;

			&:before {
				content: "Q ";
				font-size: 30px;
				font-family: helvetical;
			}
		}

		dd {
			color: #888;
			padding: 0 0 15px 30px;

			ol {
				list-style: decimal;
				margin: 15px 20px 15px 40px;

				li {
					margin-bottom: 10px;
					font-size: 14px;
				}
			}

			.more {
				font-size: 12px;
			}
		}
	}
}
