#pg-photo {
	.album-preview {
		@include clearfix;
	}

	.album-name {
		color: #333;
		font-size: 16px;
		margin: 0 0 10px 0;
	}

	.preview-wrap {
		float: left;
		width: 680px;

		.preview-nav {
			padding: 6px 0;
			color: #b87f30;
			@include clearfix;

			a { color: #b87f30; }

			.order {
				float: left;
			}
			
			.prev-next {
				margin-left: 200px;
			}
		}

		.preview {
			position: relative;
			background-color: #000;
			width: 700px;
			height: 440px;
			overflow: hidden;

			&.loading {
				.preview-loading {
					display: block;
				}

				&:hover {
					.prev, .next {
						display: none;
					}
				}
			}

			.preview-img {
				max-height: 440px;
				width: auto;
				margin: 0 auto;
				display: block;
			}

			.preview-loading {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				height: 440px;
				width: 700px;
				text-align: center;
				background-color: rgba(0,0,0,0.3);

				.loading {
					margin: 190px auto;
					width: 60px;
					height: 60px;
					background: #fff image-url("loader.gif") center center no-repeat;
					@include radius();
				}
			}
			
			.social-share-button {
				display: none;
				position: absolute;
				top: 10px;
				right: 10px;
			}

			.prev, .next {
				position: absolute;
				display: block;
				top: 0;
				height: 100%;
				width: 30px;
				background: url(preview-arrow.png) 0 0 no-repeat;
				overflow: hidden;
				text-indent: -999px;
				display: none;

				&:hover {
					opacity: 1!important;
				}
			}

			.prev {
				left: 15px;
				background-position: 0 center;
			}

			.next {
				right: 15px;
				background-position: 100% center;
			}

			&:hover {
				.prev, .next {
					display: block;
					opacity: 0.6;
				}

				.social-share-button {
					opacity: 0.6;
					display: block;

					&:hover {
						opacity: 1;
					}
				}
			}
		}

		.preview-info {
			h6 {
				font-size: 16px;
				margin: 10px 0;
				color: #333;
			}

			p {
				color: #999;
				font-size: 12px;
			}
		}
	}

	.thumbs {
		float: right;
		width: 255px;

		.pager {
			height: 26px;
			overflow: hidden;
			@include clearfix;

			.pagination {
				float: right;
			}

			span, a {
				float: left;
				margin-left: 5px;
				display: block;
				padding: 3px 5px;
				background-color: #fff;
				color: #b87f30;
				border: 1px solid #ccc;
				font-size: 12px;
			}

			span {
				color: #aaa;
				border-color: #eee;
			}
			
			a:hover {
				background-color: #b87f30;
				color: #fff;
			}
		}
		
		ul {
			@include clearfix;

			li {
				float: left;
				cursor: pointer;
				margin: 0 0 10px 10px;

				img {
					width: 75px;
					height: 75px;
					display: block;
				}

				&.current,
				&:hover	{
					@include box-shadow(0, 0, 10px, rgba(0,0,0,0.6));
				}
			}
		}
	}

	.other-albums {
		margin-top: 40px;

		.album-list {
			margin-top: 30px;
			@include clearfix;

			.album-list-summary {
				float: left;
				width: 160px;

				h4 {
					font-size: 28px;
				}
			}

			.album-list-content {
				margin-left: 180px;
			}
		}

		.albums {
			@include clearfix;

			li {
				float: left;
				margin: 0 30px 30px 0;
			}

			.cover-wrap {
				position: relative;

				.cover {
					display: block;
					position: relative;
					padding: 5px;
					z-index: 2;
					background-color: #fff;
					border: 1px solid #ccc;

					a {
						display: block;
						width: 150px;
						height: 150px;
						text-align: center;
						background-color: #000;
						overflow: hidden;

						.count {
							position: absolute;
							bottom: 10px;
							right: 5px;
							background-color: rgba(0,0,0,0.5);
							color: #fff;
							padding: 5px 8px 2px;
							font-size: 12px;
						}

						img {
							display: block;
							height: 150px;
							width: auto;
							margin: 0 auto;
						}
					}
				}

				.cover-bg-0,
				.cover-bg-1 {
					background-color: white;
					border: 1px solid #ddd;
					display: block;
					width: 160px;
					height: 160px;
					position: absolute;
					top: 3px;
					left: 3px;
					z-index: 1;
					@include transition(0.3s);
				}

				.cover-bg-1 {
					top: 6px;
					left: 6px;
					z-index: 0;
				}

				&:hover {
					.cover-bg-0 {
						@include transition(0.3s);
						@include rotate(3deg);
					}

					.cover-bg-1 {
						@include transition(0.3s);
						@include rotate(6deg);
					}
				}
			}

			.name {
				margin: 20px 0 0 10px;
				color: #d1b27e;
				width: 150px;
				@include text-mask;
			}
		}
	}
}
