#pg-scheme {
	.scheme-intro {
		@include ckeditor-content;
	}

	.scheme-title {
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
	}

	.scheme-gallery {
		margin-top: 40px;
	}

	.scheme-sights {
		ul {
			@include clearfix;
		}

		li {
			float: left;
			margin: 0 10px 15px 0;
			position: relative;

			a {
				display: block;
			}

			img {
				display: block;
				width: 150px;
				height: 100px;
			}

			.name {
				position: absolute;
				bottom: 0;
				left: 0;
				color: #fff;
				background-color: rgba(0,0,0,0.5);
				padding: 8px 10px;
				font-size: 14px;
				width: 130px;
				text-align: center;
				font-weight: normal;
				@include text-mask;
			}

			&:hover {
				@include box-shadow(0,0,10px, rgba(0,0,0,0.5));
			}
		}
	}
}
