#pg-wedding {
	.sight-detail {
		min-height: 200px;
	}

	.sight-title {
	    text-align: center;
		font-size: 24px;
		line-height: 4;
	}

	.sight-gallery {
	    margin: 0 auto 20px;
	}

	.sight-intro {
	    margin: 0 auto;
		@include ckeditor-content;
	}
}
