#slides {
	position: relative;

	/* Slides container
	 * Important:
	 * Set the width of your slides container
	 * Set to display none, prevents content flash
	 */
	.slides-list{
		width: 960px;
		overflow:hidden;
		position:relative;
		// display:none;
	}

	/* Each slide
	 * Important:
	 * Set the width of your slides
	 * If height not specified height will be set by the slide content
	 * Set to display block
	 */

	.slide {
		width: 960px;
		height: 400px;

		img {
			width: 960px;
			height: 400px;
			display: block;
		}
	}

	/*
	 * .next,
	 * .prev {
	 * 	position:absolute;
	 * 	top:107px;
	 * 	left:-39px;
	 * 	width:24px;
	 * 	height:43px;
	 * 	display:block;
	 * 	z-index:101;
	 * }
	 * .next {
	 * 	left:585px;
	 * }
	 */

	.pagination {
		@include clearfix;
		margin: 10px auto 30px;
		width:100px;

		li {
			float:left;
			margin:0 1px;
			list-style:none;

			a {
				display:block;
				width:12px;
				height:0;
				padding-top:12px;
				background-image:url(pagination.png);
				background-position:0 0;
				float:left;
				overflow:hidden;
			}

			&.current a {
				background-position:0 -12px;
			}
		}
	}

	.caption {
		z-index:500;
		position:absolute;
		bottom:-35px;
		left:0;
		height: 100px;
		padding:5px 20px 0 20px;
		background:#000;
		background:rgba(0,0,0,.5);
		width: 960px;
		font-size:1.3em;
		line-height:1.33;
		color:#fff;
		text-shadow:none;
		overflow: hidden;

		h5 {
			font-size: 24px;
			line-height: 1.8;
		}

		p {
			font-size: 14px;
		}
	}
}
