<% provide(:title, "旅游手册") %>

<% content_for :scripts do %>
	<%= javascript_include_tag "guides" %>
<% end %>

<div id="pg-guides" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="sidebar">
			<%= render 'guides/nav' %>
		</div>
		<div class="main">
			<% @guides.each_with_index do |sec, index| %>
				<div class="section" id="sec-<%= index %>">
					<h5><%= sec[:name] %></h5>
					<dl>
						<% sec[:guides].each do |g| %>
							<dt id="q-<%= g.id %>"><%= g.question %></dt>
							<dd><%= g.answer.html_safe %></dd>
						<% end %>
					</dl>
				</div>
			<% end %>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
