<% provide(:title, "旅游攻略") %>

<div id="pg-infos" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="main">
			<div class="maps section">
				<h4 class="section-title">旅游地图</h4>
				<div>
					<% @maps.each do |s| %>
						<a href="<%= info_path(s) %>">
							<%= image_tag s.cover.thumb.url, alt: s.name %>
							<h6><%= s.name %></h6>
						</a>
					<% end %>
				</div>
			</div>

			<div class="strategies section">
				<h4 class="section-title">旅游攻略</h4>
				<div>
					<% @strategies.each do |s| %>
						<a href="<%= s.link %>" target="_blank">
							<%= image_tag s.cover.thumb.url, alt: s.name %>
							<h6><%= s.name %></h6>
						</a>
					<% end %>
				</div>
			</div>

			<div class="tickets section">
				<h4 class="section-title">订票教程</h4>
				<div>
					<% @tickets.each do |s| %>
						<a href="<%= s.link %>" target="_blank">
							<%= image_tag s.cover.thumb.url, alt: s.name %>
							<h6><%= s.name %></h6>
						</a>
					<% end %>
				</div>
			</div>

			<div class="assist">
				<h4 class="section-title">
					自由行导航
				</h4>
				<div class="groupon">
					<h5>越南自由行团购网站</h5>
					<div class="bd">
						<a target="_blank" href="http://vacations.ctrip.com/freetravel-2B2Z461-C-111-shanghai-vietnam#ctm_ref=va_frelst_2_tab3_p1_1_1_txt">
							<img src="<%= asset_path "logo-ctrip.png" %>" alt="携程" width="120px" />
						</a>
						<a target="_blank" href="http://tuan.qunar.com/qtab_travel_f.php?tripmode=6Ieq55Sx6KGM&dest=6LaK5Y2X&in_track=triphtopic%2B_%25E8%25B6%258A%25E5%258D%2597_NULL_NULL_NULL_NULL_NULL_NULL_NULL">
							<img src="<%= asset_path "logo-qunar.png" %>" alt="去哪儿" width="105px" />
						</a>
					</div>
				</div>
				<div class="hotel">
					<h5>越南酒店预定网站</h5>
					<div class="bd">
						<a target="_blank" href="http://www.agoda.com.cn/asia/vietnam.html?asq=gJXBMY1aO9Pnw5DpCj1To0lvEbuCZPMEWajJiSIpF9Q%3d">
							<img src="<%= asset_path "logo-agoda.png" %>" alt="雅高达 Agoda" height="65px" />
						</a>
						<a target="_blank" href="http://www.lonelyplanet.com/hotels/">
							<img src="<%= asset_path "logo-lp.png" %>" alt="孤独星球 Lonelyplanet" />
						</a>
					</div>
				</div>
				<div class="taxi">
					<h5>越南机场出租车推荐</h5>
					<div class="bd">
						<a href="javascript:;">
							<img src="<%= asset_path "logo-MaiLinh.png" %>" alt="Mai Linh Taxi" width="120px" />
						</a>
						<a href="javascript:;">
							<img src="<%= asset_path "logo-vinasun.png" %>" alt="Vinasun Taxi" width="80px" />
						</a>
					</div>
				</div>
				<div class="airline">
					<h5>越南机票预定网站</h5>
					<div class="bd">
						<a target="_blank" href="http://www.vietnamairlines.com/wps/portal/cn/site/home?lang=cn&country=china&country_code=CN">
							<img src="<%= asset_path "logo-vietnamairlines.png" %>" alt="越南航空" width="240px" />
						</a>
						<a target="_blank" href="http://www.vietjetair.com/Sites/Web/en-US/Home">
							<img src="<%= asset_path "logo-vietjetair.png" %>" alt="越捷航空" width="160px" />
						</a>
						<a target="_blank" href="http://www.jetstar.com/cn/zh/home">
							<img src="<%= asset_path "logo-jstar.png" %>" alt="捷星航空" width="140px" />
						</a>
						<a target="_blank" href="http://www.airasia.com/cn/zh/home.page">
							<img src="<%= asset_path "logo-airasia.png" %>" alt="亚洲航空" height="40px" />
						</a>
						<a target="_blank" href="http://www.dragonair.com/ka/sc_CN.html">
							<img src="<%= asset_path "logo-sc.png" %>" alt="香港港龙航空" />
						</a>
					</div>
				</div>
			</div>

			<% if @guides.any? %>
				<div class="guides">
					<h4 class="section-title">背包终极手册</h4>
					<dl>
						<% @guides.each do |g| %>
							<dt id="q-<%= g.id %>">
								<%= link_to g.question, "javascript:;" %>
							</dt>
							<dd>
								<%= g.answer.html_safe %>
							</dd>
						<% end %>
					</dl>
				</div>
			<% end %>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
