<% provide(:title, "#{ @info.name } - 旅游攻略") %>

<div id="pg-info" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="main">
			<div class="maps section">
				<h4 class="section-title"><%= @info.name %></h4>
				<div>
					<ol>
						<% @items.each do |s| %>
							<li>
								<a href="<%= s.link %>" target="_blank"><%= s.name %></a>
							</li>
						<% end %>
					</ol>
				</div>
			</div>

		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
