<div class="header">
	<h1 class="logo">行在越南 - 订单管理系统</h1>

	<div class="user-links">
		<div class="btn-group">
			<%= link_to "订单列表", orders_path, class: "btn" %>
			<% if current_admin_user.admin? or current_admin_user.superuser? or current_admin_user.agency? %>
				<%= link_to "订单结算", settle_order_path, class: "btn link-settel" %>
			<% end %>
			<% if can? :create, Order %>
				<%= link_to "创建订单", new_order_path, class: "btn link-new-order" %>
			<% end %>
			<% if can? :manage, :all %>
				<%= link_to "回到后台", admin_areas_path, class: "btn link-back-activeadmin" %>
			<% end %>
		</div>
		<div class="btn-group">
			<%= link_to "退出登录", destroy_admin_user_session_path, class: "btn btn-danger link-logout" %>
		</div>
	</div>
</div>
