<div class="contact-qqs">
	<span>免费咨询</span>
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2055086388&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2055086388:51" alt="给2055086388发消息" title="给2055086388发消息"/></a>
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2967052963&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2967052963:51" alt="给2967052963发消息" title="给2967052963发消息"/></a>
</div>
