<div class="footer">
	<a href="http://e.weibo.com/u/3770998044" target="_blank" class="link-weibo">新浪官方微博</a>
	<ul class="nav">
		<%= nav_link_to "关于我们", about_us_path %>
		<%= nav_link_to "联系我们", contact_us_path %>
	</ul>
	<%# render "layouts/contact_qqs" %>
	<p class="copyright">Copyright &copy;2013-2014 行在越南 All Rights Reserved. <br /><a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备13016263号</a></p>
</div>
