<div class="header">
	<h1 class="logo"><%= link_to '行在越南', root_path %></h1>
	<ul class="nav">
		<%= nav_link_to "首页", root_path %>
		<%= nav_link_to "旅游线路", scheme_nav_path %>
		<%= nav_link_to "旅游景点", sight_nav_path %>
		<%# nav_link_to "旅游婚纱", wedding_path %>
		<%# nav_link_to "奥黛定做", tailor_path %>
		<%# nav_link_to "VIP包车旅游", charter_path %>
		<%= nav_link_to "旅游手册", guides_path %>
		<%= nav_link_to "旅游攻略", infos_path %>
		<%= nav_link_to "越南导游", experts_path %>
		<%= nav_link_to "家庭旅馆", homestays_path %>
		<%= nav_link_to "论坛BBS", "http://bbs.zouba123.com/" %>
		<%# nav_link_to "越南美女图库", girls_path %>
		<%# nav_link_to "关于我们", about_us_path %>
		<%# nav_link_to "联系我们", contact_us_path %>
	</ul>

	<div class="share">
		分享：<%= social_share_button_tag("行在越南网最专业的越南背包自由行和包车旅游网站，行在越南，心在越南", url: "http://#{ Yetting.domain }/") %>
	</div>
</div>
