<div id="slides" class="slides">
	<div class="slides-list">
		<div class="slide">
			<%= link_to image_tag(@slide_photo.file.url), @slide_photo.link, targe: "_blank" %>
			<div class="caption">
				<h5><%= @slide_photo.name %></h5>
				<p><%= @slide_photo.desc %></p>
			</div>
		</div>
	</div>
	<% if false %>
	<a class="prev" href="javascript:;">&lsaquo;</a>
	<a class="next" href="javascript:;">&rsaquo;</a>
	<% end %>
</div>
