<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) + ' - ' if content_for?(:title) %>大爱西贡</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<%= stylesheet_link_tag    "admin", :media => "all" %>
	<%= yield :styles %>
	<%= csrf_meta_tags %>
</head>
<body class="active-admin">
	<div class="container-fluid">
		<%= render 'layouts/admin_header' %>
		<%= yield %>
	</div>

	<%= javascript_include_tag "admin" %>
	<%= yield :scripts %>
</body>
</html>
