<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) + ' - ' if content_for?(:title) %>行在越南</title>
  <meta name="description" content="行在越南网最专业的越南背包自由行攻略网站" />
  <meta name="keywords" content="越南旅游,越南旅行社,越南旅游攻略,越南自助游,行在越南,行在越南网,岘港旅游,越南美女" />
  <meta property="wb:webmaster" content="ae1a6f8eab859c5c" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38514007-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <%= render "layouts/totango" %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <%= yield %>

  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
</body>
</html>
