<% provide(:title, "当地导游") %>

<div id="pg-experts" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="sidebar">
			<ul class="nav-experts">
				<% @cities.each_with_index do |item, index| %>
					<li><a href="#sec-<%= index %>"><%= item.name %></a></li>
				<% end %>
			</ul>
		</div>
		<div class="main">
			<h3 class="main-title">越南导游</h3>
			<div class="experts-intro">
				<%= @expert_intro.html_safe %>
			</div>
			<% @cities.each_with_index do |city, index| %>
				<div class="section" id="sec-<%= index %>">
					<h5><%= city.name %></h5>
					<ul>
						<% city.experts.each do |expert| %>
							<li>
								<a href="<%= expert_path(expert) %>">
									<%= image_tag expert.cover.medium.url, alt: expert.name %>
									<h6><%= expert.name %></h6>
									<p class="desc">
										<%= expert.desc %>
									</p>
								</a>
							</li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
