<% provide(:title, @expert.name) %>

<div id="pg-expert" class="container">
	<%= render 'layouts/header' %>

	<div class="content">
		<div class="sidebar">
			<%= image_tag @expert.cover.medium.url, alt: @expert.name %>
			<h5><%= @expert.name %></h5>
		</div>
		<div class="main">
			<h4>简介</h4>
			<div class="intro">
				<%= @expert.intro.html_safe %>
			</div>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
